language: php

php:
  - 5.6
  - 7.0
  - hhvm

matrix:
  allow_failures:
    - php: 5.5.9
    - php: hhvm

before_script:
  # - wget https://phar.phpunit.de/phpunit.phar
  # - chmod +x phpunit.phar
  # - sudo mv phpunit.phar /usr/local/bin/phpunit
  # - phpunit --version
  - git clone https://github.com/octobercms/october.git
  - mkdir -p ./october/plugins/sublimearts/sublimestripe
  - mv !(october) october/plugins/sublimearts/sublimestripe
  - cd october
  - composer install
  - cd plugins/sublimearts/sublimestripe
  - composer install
  - mkdir -p ../../rainlab
  - cd ../../rainlab
  - git clone https://github.com/rainlab/user-plugin
  - mv user-plugin user
  - cd user
  - composer install
  - cd ../../sublimearts/sublimestripe

script: phpunit